.header-container {
  position: fixed;
  top: 0;
  left: 250px; 
  width: calc(100% - 250px);
  height: 70px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* karena sudah tidak ada brand */
  padding: 0 15px; /* tidak terlalu njorok kanan */
  border-bottom: 1px solid #ddd;
  z-index: 1000;
}

/* BAGIAN KANAN */
.header-right {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 50px;
}

.today-date {
  font-size: 15px;
  color: #444;
}

/* ADMIN PROFILE */
.admin-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.admin-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #eee;
  border: 1px solid #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #333;
}

.admin-name {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
